@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background: linear-gradient(130deg, rgb(253, 253, 253), rgb(206, 185, 167));
}